apturl==0.5.2
arrow==1.2.3
asgiref==3.6.0
async-generator==1.10
attrs==22.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.0
binaryornot==0.4.4
blinker==1.4
bootstrap4==0.1.0
boto3==1.26.109
botocore==1.29.109
Brlapi==0.8.3
build==0.10.0
CacheControl==0.12.10
cachy==0.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cleo==0.8.1
cliapp==1.20180812.1
click==8.1.3
clikit==0.6.2
cmdtest==0.32+git
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
coreapi==2.3.3
coreschema==0.0.4
crashtest==0.3.1
cryptography==40.0.0
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==4.2
django-allauth==0.54.0
django-bootstrap-datepicker==1.4.0
django-bootstrap4==22.3
django-ckeditor==6.5.1
django-classy-tags==4.0.0
django-cors-headers==3.14.0
django-crispy-forms==2.0
django-filter==23.2
django-js-asset==2.0.0
django-multiupload==0.6.1
django-phonenumber-field==7.2.0
django-rest-swagger==2.2.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-api-key==2.3.0
drf-yasg==1.21.5
duplicity==0.8.21
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fasteners==0.14.1
filelock==3.6.0
future==0.18.2
GDAL==3.4.1
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
humanfriendly==10.0
idna==3.4
imageio==2.24.0
img2pdf==0.4.4
importlib-metadata==4.6.4
imutils==0.5.4
inflection==0.5.1
itypes==1.2.0
jeepney==0.7.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.9.2
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.3
MarkupSafe==2.1.2
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.3
mysqlclient==2.2.0
netifaces==0.11.0
networkx==3.0
notify2==0.3
numpy==1.24.1
oauthlib==3.2.2
ocrmypdf==14.0.2
olefile==0.46
openapi-codec==1.3.2
opencv-python==4.7.0.68
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==2.0.0
paramiko==2.9.3
pastel==0.2.1
pdfminer.six==20221105
pexpect==4.8.0
phonenumbers==8.13.22
pikepdf==6.2.8.post1
Pillow==9.4.0
pip-tools==6.12.3
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
poetry==1.1.12
poetry-core==1.0.7
protobuf==3.12.4
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
PyGithub==1.58.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.6.0
pylev==1.2.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==23.1.1
pyparsing==2.4.7
PyPDF2==3.0.1
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-gitlab==3.13.0
python-slugify==8.0.1
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2022.7.1
PyWavelets==1.4.1
pyxdg==0.27
PyYAML==6.0
reportlab==3.6.8
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
scikit-image==0.19.3
scipy==1.10.0
SecretStorage==3.3.1
selenium==4.8.3
shellingham==1.4.0
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
social==0.1.dev3
social-auth-app-django==5.1.0
social-auth-core==4.4.0
sortedcontainers==2.4.0
soupsieve==2.4
splinter==0.19.0
sqlparse==0.4.3
systemd-python==234
tesserocr==2.5.2
text-unidecode==1.3
tifffile==2022.10.10
tomli==2.0.1
tomlkit==0.9.2
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.10.2
ttystatus==0.38
typing_extensions==4.8.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.15
urllib3-secure-extra==0.1.0
usb-creator==0.3.7
virtualenv==20.13.0+ds
wadllib==1.3.6
webencodings==0.5.1
wrapt==1.15.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
zipp==1.0.0
